<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>etranslation</name>
	<displayName><![CDATA[e-translation]]></displayName>
	<version><![CDATA[2.0.1]]></version>
	<description><![CDATA[Vendez &agrave; l&#039;internationnal en traduisant votre site avec www.e-translation-agency.com,  l&#039;agence de traduction N&ordm;1 dans e  e-commerce. Devis gratuit sans engagement / r&eacute;p&eacute;titions non factur&eacute;es!.  Traducteurs natifs, dipl&ocirc;m&eacute; en traductions et specialis&eacute;s dans le secteur.  Traductions  multilingues optimis&eacute;es  SEO . Traduction cl&eacute; en main :   automatisation extraction des contenus (CMS, fiches produits...), int&eacute;gration des traductions, identification des actualisations]]></description>
	<author><![CDATA[Dream-IT]]></author>
	<tab><![CDATA[i18n_localization]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete this module ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>